$meli-yellow: #ffe600;
$meli-blue: #3483fa;
$gray-100: #eee;
$gray-200: #999;
$gray-300: #666;
$gray-400: #333;

$spacing-100: 16px;
$spacing-200: 32px;
$spacing-300: 51px;

$font-100: 12px;
$font-200: 14px;
$font-300: 16px;
$font-400: 18px;
$font-500: 24px;
$font-600: 28px;
$font-700: 46px;

$breakpoint-xs: 500px;
$breakpoint-sm: 650px;
$breakpoint-md: 800px;
$breakpoint-lg: 1000px;
